.first-row{
    background-color: lightblue;
    width: 80%;
    height: 70px;
    text-align: center;
    display: flex;
    align-items:center;
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 5px;
    box-shadow: 15px 15px 15px -5px black;
}
.init-container{
    background-color: blue;
    box-shadow: 15px 15px 15px -5px black;
    margin-top: 4%;
}
.list{
    background-color: green;
    border: 1px solid white;
    border-radius: 10px;
}
.label{
    color: white;
}
.line{
    border: none;
    height: 2px;
    background-color: black;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}
.search-text{

}
.search-text:focus{
    width:100%;
}
.list .alert:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .first-row:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  .init-container:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
